<script>
    window.cocktailsNavigationData = function () {
        return {
            cocktailNameValue: "",
            categoryValue: "",
            ingredientValue: "",
            glassValue: "",
            async fetchData() {
                await Promise.all([
                    this.$store.fetchedCocktailData.getCategories(),
                    this.$store.fetchedCocktailData.getIngredients(),
                    this.$store.fetchedCocktailData.getGlasses(),
                ]);
            },
            showLuckyModal() {
                fetch(CocktailDB.getRandomCocktail())
                    .then((response) => response.json())
                    .then((response) => {
                        this.showModal(response.drinks[0]);
                    });
            },
            showModal(cocktail) {
                this.$dispatch("show-modal", {
                    data: { cocktail },
                });
            },
            searchCocktail() {
                // this.$dispatch("", {
                //     data: {
                //         category: this.categoryValue,
                //         ingredient: this.ingredientValue,
                //         glass: this.glassValue,
                //         searchName: this.cocktailNameValue,
                //     },
                // });
                this.$store.cocktailFilter.filter(
                    this.cocktailNameValue,
                    this.categoryValue,
                    this.ingredientValue,
                    this.glassValue
                );
            },
        };
    };
</script>
<div
    x-data="cocktailsNavigationData();"
    x-init="fetchData();"
    class="bg-gradient-to-b bg-purple-950 p-4 shadow-lg flex flex-col gap-1"
>
    <div
        class="flex justify-center items-center gap-3 max-sm:flex-col sm:flex-col md:flex-col lg:flex-row"
    >
        <input
            type="text"
            name="cocktailName"
            id="cocktailName"
            x-model="cocktailNameValue"
            x-init="cocktailNameValue = $store.cocktailFilter.name"
            class="max-sm:w-full sm:w-full md:w-full lg:w-auto p-2 border-2 rounded-md text-purple-500 focus:ring placeholder-purple-500 focus:ring-offset-white focus:ring-purple-500 focus:ring-offset-2"
            placeholder="Cocktail Name . . ."
        />
        <select
            name="selectCategory"
            id="selectCategory"
            class="max-sm:w-full sm:w-full md:w-full lg:w-auto p-2 font-semibold text-purple-600 placeholder-purple-200 border-2 rounded-md focus:ring-blue-500 focus:ring focus:ring-offset-2 focus:ring-offset-white"
            x-model="categoryValue"
            x-init="categoryValue = $store.cocktailFilter.category"
        >
            <option value="-1" x-text="'Choose category'"></option>
            <template
                x-for="(category, key) in $store.fetchedCocktailData.categories"
            >
                <option
                    :value="key"
                    x-text="category.strCategory"
                    :selected="categoryValue == key"
                ></option>
            </template>
        </select>
        <select
            name="selectIngredient"
            id="selectIngredient"
            class="max-sm:w-full sm:w-full md:w-full lg:w-auto p-2 font-semibold text-purple-600 placeholder-purple-200 border-2 rounded-md focus:ring-blue-500 focus:ring focus:ring-offset-2 focus:ring-offset-white"
            x-model="ingredientValue"
            x-init="ingredientValue = $store.cocktailFilter.ingredient"
        >
            <option value="-1" x-text="'Choose ingredient'"></option>
            <template
                x-for="(ingredient, key) in $store.fetchedCocktailData.ingredients"
            >
                <option
                    :value="key"
                    x-text="ingredient.strIngredient1"
                    :selected="ingredientValue == key"
                ></option>
            </template>
        </select>
        <select
            name="selectGlass"
            id="selectGlass"
            class="max-sm:w-full sm:w-full md:w-full lg:w-auto p-2 font-semibold text-purple-600 placeholder-purple-200 border-2 rounded-md focus:ring-blue-500 focus:ring focus:ring-offset-2 focus:ring-offset-white"
            x-model="glassValue"
            x-init="glassValue = $store.cocktailFilter.glass"
        >
            <option value="-1" x-text="'Choose glass'"></option>
            <template
                x-for="(glass, key) in $store.fetchedCocktailData.glasses"
            >
                <option
                    :value="key"
                    x-text="glass.strGlass"
                    :selected="glassValue == key"
                ></option>
            </template>
        </select>
        <button
            type="button"
            class="max-sm:w-full sm:w-full md:w-full lg:w-auto bg-gradient-to-br from-purple-500 to-purple-700 hover:from-purple-700 hover:to-purple-900 text-white font-semibold rounded focus:ring focus:ring-offset-white focus:ring-purple-500 focus:ring-offset-2"
            @click="searchCocktail();"
        >
            <div class="hover:scale-110 px-4 py-1">Search</div>
        </button>
        <button
            type="button"
            class="max-sm:w-full sm:w-full md:w-full lg:w-auto bg-gradient-to-br from-purple-500 to-purple-700 hover:from-purple-700 hover:to-purple-900 text-white font-semibold rounded focus:ring focus:ring-offset-white focus:ring-purple-500 focus:ring-offset-2"
            @click="showLuckyModal();"
        >
            <div class="hover:scale-110 px-4 py-1">I am lucky</div>
        </button>
    </div>
    <div
        x-data="{}"
        x-init="loadComponent('navigation/charactersFilter', $el);"
    ></div>
</div>
